@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:wght@300;400;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::selection{
    background-color: #f0e7ccd0;
    
}

:root {
  --accent:#E03030;
  --dark-accent:#d82121;
  --light-accent:#E73B3B;
  --white:#FFFFFF;
  --darkText: #232323;
  --lightText: #7A7A7A;
  
  --faq:#625F5F;
  
  --lines:#e9e9e9;


  --footer:#F7F7F7;
  --footer-header:#222222;
  --footer-text: #575656;
  --footer-lines:#d3d3d3c2;
 
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(231, 231, 231);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(190, 190, 190);
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(163, 163, 163);
  }

/* font-family: 'DM Serif Text', serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif; 
font-family: 'Roboto Condensed', sans-serif;*/


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow-x: hidden;

  
    background: linear-gradient(90deg, #FFFFFF -8.39%, rgba(247, 247, 247, 0.96) 107.01%);
    
}

body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

nav{
    display: flex;
    justify-content: center;
   
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;

    position: fixed;

    z-index: 5;

    padding-top: .5rem;
    padding-bottom: 5px;

    box-shadow: 0 2px 2px -2px rgb(0 0 0 / 15%);
    
    

    background: linear-gradient(90deg, #ffffffd8 -8.39%, rgba(247, 247, 247, 0.774) 107.01%);
    // box-shadow: 0 0px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.5px );
    -webkit-backdrop-filter: blur( 20.5px );
   

    .nav-bar{
        width: 100%;
        max-width: 1080px;
        display: flex;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            
            img{
                width: 5.2rem;
                height: 4.5rem;
            }
          
        }
    }

}



.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
   


    gap: 1rem;
    
    

    a{
        text-decoration: none;
        color: var(--lightText);
        
        font-weight: normal;
        font-size: 16px;
        
        font-family: 'Roboto Condensed', sans-serif;
    }

    a:hover{
       border-bottom: 2px solid rgb(197, 197, 197);
    }

    .full-btn{
        text-decoration: none;
        cursor: pointer;
        background-color: var(--accent);
        border: none;
        
        
        padding: .5rem 1.3rem;
        margin-left: .7rem;
        font-weight: normal;
        font-size: 16px;
        font-family: 'Roboto Condensed', sans-serif;

        color: var(--white) !important;
        
        &:hover{
            border-bottom: 0px;
        }
    }

}



.container{
    display: flex;
    flex: 1;
    width: 100vw;
    max-width: 1080px;
    
}

.section-header{
    color: var(--darkText);
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 600;
    word-spacing: -2px;
    line-height: 40px;
}


#inicio{
    height: 100vh;
    max-height: 90rem;
    min-height: 50rem;
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    .container{ 
        display: flex;
        height: fit-content;
        justify-content: space-between;
        padding-bottom: 3rem;
    
        .left{
            display: flex;
            flex-direction: column;
            width: 30rem;
        
            justify-content: flex-end;
            padding-bottom: 3rem;
            
        }

        .right{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img{
                width: 30rem;
            }
        }
    }
}




.hero-heading{
    font-family: 'DM Serif Text', serif;
    font-size: 43px;
    font-weight: normal;

    line-height: 3rem;
    margin-bottom: .8rem;
    
    span{
        color:  var(--accent); 
    }

    span::selection{
        color: var(--darkText);
    }

}



.p18{ 
    color: var(--lightText);
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7rem;

    margin-bottom: 1.2rem;
    width: 28rem;



}


.hero-btns{
    display: flex;
    gap: 1rem;
    margin-bottom: 1.6rem;
}


.btn{
    padding: 1rem 2rem;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

.full-btn{
    background-color: var(--accent);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-btn:hover{
    background-color: var(--dark-accent);
}

.hollow-btn{
    background-color: transparent;
    color: var(--darkText);
    border: 1px solid var(--darkText);
    
   
    transition: box-shadow 300ms ease-in-out, color 300ms;
    

    &:hover{
        background-color: #7a7a7a34;
        border: 1px solid #838383;
        
    }
}
.hero-stats{
    display: flex;
}

.stat{
    display: flex;
    flex-direction: column;
    width: 10rem;
    h2{
        font-family: 'DM Serif Text', serif;
        font-size: 40px;
        font-weight: 200;
        user-select: none;
    }

    
    h3{
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: var(--lightText);
    }
}


.tagline{
    cursor: default;
    border-radius: 50px;
    margin-bottom: 2rem;
    width: fit-content;

    background-color: transparent;
    border: 1px solid var(--darkText);
    
    font-family: 'Lato', sans-serif;
    padding: .2rem 2rem;
}





.right img{
    width: 80%;
    user-select: none;
}

#scrolltest2{
    height: 6rem;
}

#beneficios{
    
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.benefits{
    min-height: 40rem;
    max-height: 50rem;
    height: 58vh;
    // border: solid red 2px;

    display: grid;
  
    align-items: flex-start;
    flex-shrink: 1;

    grid-template-rows: repeat(3, 1fr);

    grid-gap: 1rem;
  
    width: 100%;
}

.benefit-card{
    display: flex;
    align-items: flex-end;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;

    height: 100%;
    
    
    border-radius: 10px;
    overflow: hidden;


    background-position: 0px 330px;

   
    

    .dark-fade{
        display: flex;
        align-items: flex-end;
        padding: 30px;
        background-color: #232323;
        height: 100%;
        width: 35%;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgb(22, 22, 22) 65%, rgba(77,81,82,0) 100%);
    
    
        &>div:nth-child(2){
            
            display: flex;
            width: 100%;
            justify-content: space-around;
            gap: 1rem;

            &>div:nth-child(1){
                padding-left: 0px;
                border-left: none;
            }
        }
    
    
    }
    
    h2{   
        color: var(--white);
        font-family: 'Lato', sans-serif;
        font-size: 30px;
    }

    p{
        color: var(--white);
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        display: none;
    }

    .line{
        display: none;
        height: 6rem;
        background-color: rgba(172, 172, 172, 0.432);
        width: 1px;
    }
}

.card-item{
    color: white;
    display: flex;
 
    display: none;

    justify-content: center;
    align-items: center;
    gap: .5rem;
    height: 6rem;
    padding-left: 10px;

    
    h3{
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        text-transform: uppercase;

    }

    i{
        font-size: 20px;
    }
    
}


// add :hover again to this 
.benefit-card:hover{
    animation-name: resize;
    animation-duration: .6s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 20em;
    
     
    

   
    .dark-fade{
         
        background: linear-gradient(180deg, rgba(0,0,0,0) 48%, rgba(0,0,0,0.5691231343283583) 71%, rgba(0,0,0,1) 100%) !important;
        width: 100%;
        height: 100%;
        padding: 50px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        

        h2{
            animation-name: cardTitle;
            animation-duration: .5s;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1);
            align-self: flex-start;
            margin-bottom: .2rem;
            
        
        }

        p{
            display: flex;
        }

        .card-item{
            display: flex;
            animation-name: cardTitle;
            animation-duration: .5s;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1);
            align-self: flex-start;
        }

        .line{
            display: flex;
            animation-name: cardTitle;
            animation-duration: .5s;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1);
            align-self: flex-start;
        }
    }

}



#student-benefits{
    background: url(./images/students-benefits.webp);
    background-position: 0px -530px;
    background-size: 100%;

    .dark-fade{
        background: linear-gradient(90deg, rgb(8, 19, 39) 35%, rgba(77,81,82,0) 100%);

    }

    
   
}

#student-benefits:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/students-benefits.webp);
    background-size: 100%;
    background-position: 0px -530px;
}


#stablish-benefits{
    background-size: 100%;
    background-image: url(./images/stablish-benefits.webp);
    background-position: 0px 470px;
    .dark-fade{
        background: linear-gradient(90deg, rgb(4, 7, 14) 35%, rgba(77,81,82,0) 100%);
    }


}

#stablish-benefits:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/stablish-benefits.webp);
    background-size: 100%;
    background-position: 0px 470px;
}


#improve-benefits{
    background-image: url(./images/improve-benefits.webp);
    background-size: 100%;
    background-position: 0px 370px;
    .dark-fade{
        background: linear-gradient(90deg, rgb(3, 14, 11) 25%, rgba(77,81,82,0) 100%);
    }

    
}

#improve-benefits:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/improve-benefits.webp);
    background-size: 100%;
    background-position: 0px 370px;
}

#aval-internacional{
    .section-header{
        width: 32rem;
    }
}

#aval-internacional,#afiliacion{

    margin-top: 15rem;

    .container{
        display: grid;
        grid-template-columns: 50% 50%;
        max-width: 100vw !important;
        width: 100vw;
    }

    .left {
        margin-right: 3rem;
        height: 70vh; 
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        
        img{
         height: 100%;
        

            

        max-height: 70rem;
        max-width: 80rem;
        
               
        }
    }

    .right{
      

        display: grid;
        grid-template-columns: 50% 50%;

         height: 70vh; 
        
        .full-btn{
            width: max-content;
            
            font-size: 18px;
            gap: 1.1rem;

            i{
                font-size: 15px;
            }
        }

        .content{
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .tagline{
                margin-bottom: 4rem;
            }
            .section-header{
                margin-bottom: .8rem;
            }
            .p18{
                margin-bottom: 2rem;
            }

        }

        
       
    }
}

#afiliacion{
    .full-btn{
        i{
            font-size: 18px !important;
        }
    }
}


.lines{
   display: flex;
   gap: 8vw;
   padding-left: 2rem;
   
   align-items: flex-end;
}
.lines div{
    background-color: var(--lines);
    width: 1px;
}
.lines div:nth-child(1){
   
    height: 35%;
}
.lines div:nth-child(2){
 
    height: 85%;
}

.lines div:nth-child(3){
    height: 100%;
}



#preguntas-frecuentes{
    margin-top: 15rem;
    .container{
        justify-content: center;
        align-items: center;

        flex-direction: column;
        

    }

}


.faq{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.faq-item{
    
    border-bottom: 1px solid var(--lines);
    display: grid;
    grid-template-columns: 7fr 1fr;

    
    
   
    padding: 2rem;
    cursor: pointer;
    width: 100%;

    h3{
        color: var(--darkText);
        font-family: 'Lato', sans-serif;
        font-size: 26px;
        font-weight: 600;
        word-spacing: -2px;
       

    }

    a{
        text-decoration: underline;
        font-weight: 600;
        color: var(--faq);
    }
    
    p{
        display: none;
    }

    .show-answer{
       
       
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: flex-end;
        user-select: none;

        width: 2.4rem;
        height: 2.4rem;

        background-color: var(--accent);
      
        font-family: 'Lato', sans-serif;
        color: var(--white);



        

        cursor: pointer;
        border-radius: 50px;
       
        h4{
        line-height: 0px;
        height: 100%;
        

        font-weight: 800;
        
        font-size: 32px;
        font-weight: 100;
        height: min-content;

       }

    }

    
    
    
}

.show-answer.close{
 transform: rotate(45deg);
 z-index: 1;
}



.faq-item.open{
    background-color: #cacaca1c;
    background: linear-gradient(0deg, rgba(224, 224, 224, 0.116) 0%, rgba(134, 133, 133, 0.034) 100%);
    h3{
        margin-bottom: 1rem;
    }
    p{
        display: block; 
        font-family: 'Source Sans Pro', sans-serif; 
        font-size: 18px;
        font-weight: 300;
        color: var(--faq);
    }
}

.faq .faq-item:last-child{
    border-bottom: none;
}

#sobre-nosotros{
    margin-top: 15rem;
    
    .container{
        justify-content: center;
        gap: 5rem;
    }
    

    .left{
        display: grid;
        grid-template-rows: 1fr 3fr;
        flex-direction: column;
        justify-content: flex-end;
        
        .tagline{
            align-self: start;
            
        }

        & div:nth-child(2){
            align-self:flex-end;
        }

        h2{
            margin-bottom: 1.5rem;
        }
        p{
            line-height: 28px;
        }
       
    }

    .right{
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        

        img{
            height: 100%;
            width: 30rem;
        }
    }
}
.footer-header{
    color: var(--footer-header);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    word-spacing: -2px;
    line-height: 40px;
    

    margin-bottom: .5rem;
}

.footer-text{
    color: var(--footer-text);
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7rem;

    margin-bottom: 1rem;
  
}

footer{
    background: var(--footer);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20rem;
    height: 25rem;
   border-top: 1px rgba(85, 84, 84, 0.048) solid;

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .content{
        display: grid;
        width: 100vw;
        max-width: 1080px;
        flex: 1;
        
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        align-items: center
        
    }

    .content > div{
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--footer-lines);
        height: 13rem;

        justify-content: space-between;
        
    }
    

    
    
    .left{

        padding-right: 2rem;

        .hollow-btn{
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 16px;
            color: var(--footer-text);
            border: 1px solid var(--footer-text);

            width: 15rem;
    
            
 
            

            &:hover{
            background-color: #7a7a7a34;
            border: 1px solid #575757;
        
            } 
        }

        p{
            width: 15rem;
        }
      
    }

    .center{
        padding-left: 4rem;

        ul{
            li{
                list-style: none;
                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }

                a{
                    text-decoration: none;
                    color: var(--footer-text);
                }
            }
            
        }
    }

    .right{
        padding-left: 4rem;
         border-right: none !important;

        &>div:nth-child(2){
           display: flex;
           flex-direction: column;
           justify-content: space-between;
          
           height: 100%;
          
           
         


        }
        .footer-contact{
            display: flex;
            
            align-items: center;
            gap: 5px;
            i{
                color: var(--lightText);
            }

           p{
            margin-bottom: 2px;
           }
        }
        
        .footer-social{
            
            display: flex;
            gap: 10px;
            cursor: pointer;
            

            a{
                color: var(--lightText);
                font-size: 0;

                i{
                    font-size: 50px;
                }
            }

        }
        
    }
}

.copyright{
    font-size: 13px;
}




@keyframes resize {
       

    0%{
        height: 14rem;
    }
    100%{
        height: 20rem;
    }

}

@keyframes cardTitle{

    0%{
        opacity: 0;
    }
    100%{
        align-self: flex-start;
       
    }
}