@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::selection {
  background-color: rgba(240, 231, 204, 0.8156862745);
}

:root {
  --accent:#E03030;
  --dark-accent:#d82121;
  --light-accent:#E73B3B;
  --white:#FFFFFF;
  --darkText: #232323;
  --lightText: #7A7A7A;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(231, 231, 231);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(163, 163, 163);
}

/* font-family: 'DM Serif Text', serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #FFFFFF -8.39%, rgba(247, 247, 247, 0.96) 107.01%);
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8470588235) -8.39%, rgba(247, 247, 247, 0.774) 107.01%);
  backdrop-filter: blur(20.5px);
  -webkit-backdrop-filter: blur(20.5px);
}
nav .nav-bar {
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
}
nav .nav-bar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
.nav-links a {
  text-decoration: none;
  color: var(--lightText);
  font-weight: 600;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.nav-links .hollow-btn {
  text-decoration: none;
  color: var(--darkText);
  padding: 0.5rem 1.3rem;
  margin-left: 0.7rem;
  font-weight: 600;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex: 1;
  width: 1080px;
  max-width: 1080px;
}

#inicio {
  height: 100vh;
}
#inicio .container {
  display: flex;
  justify-content: space-between;
}
#inicio .container .left {
  display: flex;
  flex-direction: column;
  width: 45rem;
  justify-content: flex-end;
  padding-bottom: 3rem;
}
#inicio .container .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-heading {
  font-family: "DM Serif Text", serif;
  font-size: 42px;
  font-weight: normal;
  line-height: 2.8rem;
  margin-bottom: 1rem;
}
.hero-heading span {
  color: var(--accent);
}
.hero-heading span::selection {
  color: var(--darkText);
}

.hero-paragraph {
  color: var(--lightText);
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom: 1rem;
  width: 28rem;
}

.hero-btns {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.6rem;
}

.btn {
  padding: 1.1rem 2.1rem;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.full-btn {
  background-color: var(--accent);
  color: var(--white);
}

.full-btn:hover {
  background-color: var(--dark-accent);
}

.hollow-btn {
  background-color: transparent;
  color: black;
  border: 1px solid var(--darkText);
}

.hollow-btn:hover {
  background-color: rgba(122, 122, 122, 0.137254902);
}

.hero-stats {
  display: flex;
}

.stat {
  display: flex;
  flex-direction: column;
  width: 10rem;
}
.stat h2 {
  font-family: "DM Serif Text", serif;
  font-size: 40px;
  font-weight: 200;
  user-select: none;
}
.stat h2::selection {
  background-color: rgba(240, 231, 204, 0.8156862745);
}
.stat h4 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--lightText);
}

.tagline {
  border-radius: 50px;
  margin-bottom: 2rem;
  width: fit-content;
  background-color: transparent;
  border: 1px solid var(--darkText);
  font-family: "Lato", sans-serif;
  padding: 0.2rem 2rem;
}

.right img {
  width: 80%;
  user-select: none;
}

#scrolltest2 {
  height: 6rem;
}

#beneficios .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits {
  max-height: 60vh;
  height: 60vh;
  display: grid;
  align-items: flex-start;
  flex-shrink: 1;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.8rem;
  width: 100%;
}

.benefit-card {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-position: 0px 330px;
}
.benefit-card .dark-fade {
  display: flex;
  align-items: flex-end;
  padding: 20px;
  background-color: #232323;
  height: 100%;
  width: 35%;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(22, 22, 22) 65%, rgba(77, 81, 82, 0) 100%);
}
.benefit-card h2 {
  color: var(--white);
  font-family: "Lato", sans-serif;
  font-size: 30px;
}
.benefit-card p {
  color: var(--white);
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.benefit-card:hover {
  animation-name: resize;
  animation-duration: 0.6s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 20em;
}
.benefit-card:hover .dark-fade {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.5691231343) 71%, rgb(0, 0, 0) 100%) !important;
  width: 100%;
  height: 100%;
}
.benefit-card:hover .dark-fade h2 {
  animation-name: cardTitle;
  animation-duration: 0.5s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  align-self: flex-start;
}

#student-benefits {
  background: url(./images/students-benefits.png);
  background-position: 0px -530px;
  background-size: 100%;
}
#student-benefits .dark-fade {
  background: linear-gradient(90deg, rgb(8, 19, 39) 35%, rgba(77, 81, 82, 0) 100%);
}
#student-benefits p {
  display: none;
}

#student-benefits:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/students-benefits.png);
  background-size: 100%;
  background-position: 0px -530px;
}

#stablish-benefits {
  background-size: 100%;
  background-image: url(./images/stablish-benefits);
  background-position: 0px 370px;
}
#stablish-benefits .dark-fade {
  background: linear-gradient(90deg, rgb(4, 7, 14) 35%, rgba(77, 81, 82, 0) 100%);
}

#stablish-benefits:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/stablish-benefits);
  background-size: 100%;
  background-position: 0px 370px;
}

#improve-benefits {
  background-image: url(./images/improve-benefits.png);
  background-size: 100%;
  background-position: 0px 370px;
}
#improve-benefits .dark-fade {
  background: linear-gradient(90deg, rgb(3, 14, 11) 25%, rgba(77, 81, 82, 0) 100%);
}

#improve-benefits:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/improve-benefits.png);
  background-size: 100%;
  background-position: 0px 370px;
}

@keyframes resize {
  0% {
    height: 12rem;
  }
  100% {
    height: 20rem;
  }
}
@keyframes cardTitle {
  0% {
    opacity: 0;
  }
  100% {
    align-self: flex-start;
  }
}/*# sourceMappingURL=style.css.map */